
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title th:text="#{manage.menu.dashboard}"></title>
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body th:replace="~{components/common/layout::layoutBody(#{manage.menu.dashboard},
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
    <div th:fragment="content">
        <div class="row nifty-panel">
            <div class="col-sm-12">

                <div class="panel panel-colorful panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">重要通知</h3>
                    </div>
                    <div class="panel-body">
                        <p th:text="#{manage.dashboard.text2}"></p>
                        <p>
                            Welcome to Asia's leading and most trusted hashpower provider for Bitcoin!
                            Kindly go to the function menu "My Account Settings" to set your Bitcoin wallet address, and the minimum amount of Bitcoin withdrawing.
                            If you have any questions, please feel free to contact us.
                            We will be pleased to help you.
                        </p>
                        <p>
                            Email : info@initial-fintech.com
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row nifty-panel">

            <div class="col-sm-4">

                <!--Danger Panel-->
                <!--===================================================-->
                <div class="panel panel-bordered panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-bitcoin" style="font-size:1.5em !important;"></i> &nbsp;&nbsp;&nbsp; <span th:text="#{manage.dashboard.text1}"></span></h3>
                    </div>
                    <div class="panel-body" style="text-align:center;font-size:2em">
                        <b th:text="${totalBitcoin} + ' TH/s'"></b>
                    </div>
                </div>
                
                <!--===================================================-->
                <!--End Danger Panel-->

            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>

        </div>
    </div>
</body>
</html>
