<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Login page</title>


    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/favicon.png}">

    <!--Open Sans Font [ OPTIONAL ] -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link th:href="@{/static/css/nifty.min.css}" rel="stylesheet">


    <!--Premium Icons [ OPTIONAL ]-->
    <link th:href="@{/static/premium/icon-sets/icons/line-icons/premium-line-icons.min.css}" rel="stylesheet">
    <link th:href="@{/static/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css}" rel="stylesheet">


    <!--=================================================-->


    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link th:href="@{/static/css/pace.min.css}" rel="stylesheet">
    <script th:src="@{/static/js/pace.min.js}"></script>


    <!-- Create your own class to load custum image [ SAMPLE ]-->
    <style>
        .demo-my-bg{
            background-image : url("../../../static/img/bg-img-3.jpg");
        }
    </style>



</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
<div id="container" class="cls-container">

    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <div id="bg-overlay" class="bg-img" style="background-image: url(../../../static/img/bg-img-3.jpg)"></div>


    <!-- LOGIN FORM -->
    <!--===================================================-->
    <div class="cls-content">
        <div class="cls-content-sm panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h1 class="h3" th:text="#{login.forget}"></h1>
                    <p>請輸入登入Id，系統會寄送新密碼至你的註冊信箱</p>
                </div>
                <form th:action="@{/forgetPwdSubmit}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Login Id" id="mid" name="mid">
                    </div>
                    <p th:text="${msg}"> </p>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">送出</button>
                    <div class="pad-all">
                        <a th:href="@{/login}" class="btn-link mar-rgt">回登入頁</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!--===================================================-->



</div>
<!--===================================================-->
<!-- END OF CONTAINER -->


</body>
</html>
