<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title th:text="#{manage.income.button2}"></title>
    <!--DataTables [ OPTIONAL ]-->
    <link th:href="@{/static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body th:replace="~{components/common/layout::layoutBody(#{manage.menu.income}+';'+#{manage.income.button2},
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-bordered panel-mint">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{manage.income.panel3}"></h3>
                </div>
                <div class="panel-body" style="text-align:center;font-size:2em">
                    <b th:text="${historyBtc eq 0?0:historyBtc.toPlainString()}"></b>
                </div>
            </div>
        </div>
        <div class="col-sm-9"></div>
    </div>

    <div class="panel row">

        <div class="panel-body col-sm-12">
            <table id="income-history-dt" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="text-center" th:text="#{manage.income.history.column1}">購買算力收益</th>
                    <th class="text-center" th:text="#{manage.income.history.column2}">贈送算力收益</th>
                    <th class="text-center" th:text="#{manage.income.history.column3}">總計收益</th>
                    <th class="text-center" th:text="#{manage.income.history.column4}">收益日期</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="income : ${incomeList}">
                    <tr>
                        <td th:text="${income.boughtTotalT.toPlainString()}" style="vertical-align: middle;"></td>
                        <td th:text="${income.freeTotalT.toPlainString()}" style="vertical-align: middle;"></td>
                        <td th:text="${income.profit.toPlainString()}" style="vertical-align: middle;"></td>
                        <td th:text="${#calendars.format(income.createDate,'yyyy/MM/dd')}" style="vertical-align: middle;"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <!--DataTables [ OPTIONAL ]-->
    <script th:src="@{/static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
    <script th:src="@{/static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>


    <!--DataTables Sample [ SAMPLE ]-->
    <!--<script th:src="@{js/demo/tables-datatables.js}"></script>-->
    <script th:src="@{/static/js/incomeHistory.js}"></script>
</div>
</body>
</html>
