
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title th:text="#{manage.menu.income}"></title>
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body th:replace="~{components/common/layout::layoutBody(#{manage.menu.income},
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="row nifty-panel" style="margin-bottom:10px">
        <div class="col-sm-4">
            <a th:href="@{/memberPaidIncome}"><button class="btn btn-success" th:text="#{manage.income.button1}"></button></a>
            <a th:href="@{/memberHistoryIncome}"><button class="btn btn-warning" th:text="#{manage.income.button2}"></button></a>
        </div>
        <div class="col-sm-8">
        </div>
    </div>
    <div class="row nifty-panel">
        <div class="col-sm-3">
            <div class="panel panel-bordered panel-info">
                <div class="panel-heading">

                    <h3 class="panel-title" th:text="#{manage.income.panel1}"></h3>
                </div>
                <div class="panel-body" style="text-align:center;font-size:2em">
                    <b th:text="${incomeInfo.paidBtc eq 0?0:incomeInfo.paidBtc}">0.126416</b>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-bordered panel-warning">
                <div class="panel-heading">

                    <h3 class="panel-title" th:text="#{manage.income.panel2}"></h3>
                </div>
                <div class="panel-body" style="text-align:center;font-size:2em">
                    <b th:text="${incomeInfo.unpaidBtc eq 0?0:incomeInfo.unpaidBtc}">0.000014</b>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="panel panel-bordered panel-mint">
                <div class="panel-heading">

                    <h3 class="panel-title" th:text="#{manage.income.panel3}"></h3>
                </div>
                <div class="panel-body" style="text-align:center;font-size:2em">
                    <b th:text="${incomeInfo.historyBtc eq 0?0:incomeInfo.historyBtc}">0.126416</b>
                </div>
            </div>

        </div>


        <div class="col-sm-2"></div>

    </div>
</div>
</body>
</html>
