<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title th:text="#{manage.menu.memberInfo}"></title>
    <link th:href="@{css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">


</head>
<body th:replace="~{components/common/layout::layoutBody(#{manage.menu.memberInfo},
                    ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                    ~{::content},
                    ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                    ~{::script})}">

    <div th:fragment="content" >
        <div class="row">
            <div class="col-lg-12">

                <!--Default Tabs (Left Aligned)-->
                <!--===================================================-->
                <div class="tab-base">

                    <!--Nav Tabs-->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#demo-lft-tab-1" th:text="#{manage.memberInfo.tab1}"></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#demo-lft-tab-2" th:text="#{manage.memberInfo.tab2}"></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#demo-lft-tab-3" th:text="#{manage.memberInfo.tab3}"></a>
                        </li>
                    </ul>
                    <!--Tabs Content-->
                    <div class="tab-content">
                        <div id="demo-lft-tab-1" class="tab-pane fade active in">
                            <div class="panel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <form class="form-horizontal " th:action="@{/memberModifyInfo}" method="post" id="infoForm">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="userId" th:text="#{manage.memberInfo.info.field1}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" th:value="${memberInfo.mid}" th:placeholder="#{manage.memberInfo.info.field1}" id="userId" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="referrerId" th:text="#{manage.memberInfo.info.field2}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" th:value="${#strings.isEmpty(memberInfo.referrerId)?'COMPANY':memberInfo.referrerId}" th:placeholder="#{manage.memberInfo.info.field2}" id="referrerId" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="memberCategory" th:text="#{manage.memberInfo.info.field3}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" th:value="${hierarchy}" id="memberCategory" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="userChName" th:text="#{manage.memberInfo.info.field4}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" th:value="${memberInfo.name}" th:placeholder="#{manage.memberInfo.info.field4}" name="userChName" id="userChName" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="userEnName" th:text="#{manage.memberInfo.info.field5}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" th:value="${memberInfo.englishName}" name="userEnName" th:placeholder="#{manage.memberInfo.info.field5}" id="userEnName" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="email" th:text="#{manage.memberInfo.info.field6}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="email" th:value="${memberInfo.email}" name="email" th:placeholder="#{manage.memberInfo.info.field6}" id="email" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="createdDate" th:text="#{manage.memberInfo.info.field7}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" th:value="${#calendars.format(memberInfo.createdDate,'yyyy/MM/dd')}" th:placeholder="#{manage.memberInfo.info.field7}" id="createdDate" class="form-control" disabled>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="panel-footer text-right">
                                                    <button class="btn btn-success" type="submit">變更</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!--===================================================-->
                                <!--End Horizontal Form-->

                            </div>
                        </div>
                        <div id="demo-lft-tab-2" class="tab-pane fade">
                            <div class="panel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <form class="form-horizontal " th:action="@{/memberModifyPw}" id="pwForm" method="post">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="oldPw" th:text="#{manage.memberInfo.pw.field1}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="password" th:placeholder="#{manage.memberInfo.pw.field1}" id="oldPw" name="oldPw" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="newPw" th:text="#{manage.memberInfo.pw.field2}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="password" th:placeholder="#{manage.memberInfo.pw.field2}" id="newPw" name="newPw" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="checkNewPw" th:text="#{manage.memberInfo.pw.field3}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="password" th:placeholder="#{manage.memberInfo.pw.field3}" id="checkNewPw" name="checkNewPw" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-footer text-right">
                                                    <button class="btn btn-success" type="submit">變更</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!--===================================================-->
                                <!--End Horizontal Form-->

                            </div>
                        </div>
                        <div id="demo-lft-tab-3" class="tab-pane fade">
                            <div class="panel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <form class="form-horizontal " th:action="@{/memberModifyWallet}" id="walletForm" method="post">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="walletCode" th:text="#{manage.memberInfo.wallet.field1}"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" th:placeholder="#{manage.memberInfo.wallet.field1}" id="walletCode" name="walletCode" th:value="${memberInfo.walletCode}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="minimumPayout" th:text="#{manage.memberInfo.wallet.field2}"></label>
                                                        <div class="col-sm-9">
                                                            <select class="selectpicker" id="minimumPayout" name="minimumPayout">
                                                                <option value="0.001" th:selected="${memberInfo.minimumPayout!= null and memberInfo.minimumPayout.toString() eq '0.001'?'selected':_}">0.001</option>
                                                                <option value="0.0025" th:selected="${memberInfo.minimumPayout == null or (memberInfo.minimumPayout!= null and memberInfo.minimumPayout.toString() eq '0.0025')?'selected':_}">0.0025</option>
                                                                <option value="0.01" th:selected="${memberInfo.minimumPayout!= null and memberInfo.minimumPayout.toString() eq '0.01'?'selected':_}">0.01</option>
                                                                <option value="0.02" th:selected="${memberInfo.minimumPayout!= null and memberInfo.minimumPayout.toString() eq '0.02'?'selected':_}">0.02</option>
                                                                <option value="0.05" th:selected="${memberInfo.minimumPayout!= null and memberInfo.minimumPayout.toString() eq '0.05'?'selected':_}">0.05</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="panel-footer text-right">
                                                    <button class="btn btn-success" type="submit">變更</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/static/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
        <script th:src="@{/static/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>

        <script th:src="@{/static/plugins/masked-input/jquery.maskedinput.min.js}"></script>
        <script th:src="@{/static/js/memberInfo.js}"></script>
        <script>
            function alertMsg(){
                if("[[${msg}]]"!=""){
                    alert("[[${msg}]]");
                }
            }

            $(document).ready(function(){
                alertMsg();
            })

        </script>
    </div>

</body>
</html>