
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title th:text="#{manage.menu.order}"></title>
    <link th:href="@{plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body th:replace="~{components/common/layout::layoutBody(#{manage.menu.order},
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">

    <div class="panel">
        <div class="panel-body">
            <table id="demo-dt-basic" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th th:text="#{manage.order.column1}"></th>
                    <th th:text="#{manage.order.column2}">加贈算力</th>
                    <th th:text="#{manage.order.column3}">總計算力</th>
                    <th th:text="#{manage.order.column4}">備註</th>
                    <th class="min-tablet" th:text="#{manage.order.column5}">建立日期</th>

                </thead>
                <tbody>
                <th:block th:each="order : ${orderListForOwner}">
                    <tr>
                        <td th:text="${order.boughtBitcoin}">...</td>
                        <td th:text="${order.freeBitcoin}">...</td>
                        <td th:text="${order.totalBitcoin}">...</td>
                        <td th:text="${order.remarks}">...</td>
                        <td th:text="${order.createdDate}">...</td>
                    </tr>
                </th:block>

                </tbody>
            </table>
        </div>
    </div>
    

    <script th:src="@{/static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
    <script th:src="@{/static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>


    <!--DataTables Sample [ SAMPLE ]-->
    <script th:src="@{/static/js/demo/tables-datatables.js}"></script>
</div>
</body>
</html>
