<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title th:text="#{manage.income.button1}"></title>
    <!--DataTables [ OPTIONAL ]-->
    <link th:href="@{plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body th:replace="~{components/common/layout::layoutBody(#{manage.menu.income}+';'+#{manage.income.button1},
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-bordered panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{manage.income.panel1}"></h3>
                </div>
                <div class="panel-body" style="text-align:center;font-size:2em">
                    <b th:text="${paidBtc eq 0?0:paidBtc.toPlainString()}"></b>
                </div>
            </div>
        </div>
        <div class="col-sm-9"></div>
    </div>
    <div class="panel">

        <div class="panel-body">
            <table id="demo-dt-basic" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="text-center" th:text="#{manage.income.paid.column1}"></th>
                    <th class="text-center" th:text="#{manage.income.paid.column2}"></th>
                    <th class="text-center" th:text="#{manage.income.paid.column3}"></th>
                    <th class="text-center" th:text="#{manage.income.paid.column4}"></th>
                    <th class="text-center" th:text="#{manage.income.paid.column5}"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="income : ${incomeList}">
                    <tr>
                        <td th:text="${#calendars.format(income.payDate,'yyyy/MM/dd')}" style="vertical-align: middle;" class="text-center"></td>
                        <td th:text="'BTC'" style="vertical-align: middle;" class="text-center"></td>
                        <td th:text="${income.paidCoin.toPlainString()}" style="vertical-align: middle;" class="text-center"></td>
                        <td th:text="${income.payTo}" style="vertical-align: middle;" class="text-center"></td>
                        <td style="vertical-align: middle;" class="text-center"><a th:href="@{https://live.blockcypher.com/btc/tx/{hashValue}/(hashValue=${income.hashValue})}" target="_blank"><button class="btn btn-success">查看交易</button></a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <!--DataTables [ OPTIONAL ]-->
    <script th:src="@{/static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
    <script th:src="@{/static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>


    <!--DataTables Sample [ SAMPLE ]-->
    <script th:src="@{/static/js/demo/tables-datatables.js}"></script>
</div>
</body>
</html>
