<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>收益報表</title>
    <!--DataTables [ OPTIONAL ]-->
    <link th:href="@{static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">
</head>

<body th:replace="~{components/common/layout::layoutBody('收益報表',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">
        <div id="demo-custom-toolbar2" class="table-toolbar-left">
            <form class="form" method="post" th:action="@{/adminReportIncome}" id="addForm" th:object="${reportIncomeForm}">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label class="col-sm-3 control-label" for="leaderIdList">領導</label>
                                <div class="col-sm-9">
                                    <select id="leaderIdList" class="selectpicker" th:field="*{leaderId}" data-placeholder="" data-width="100%">
                                        <option th:value="''" th:text="'請選擇領導'" ></option>
                                        <th:block th:each="leader : ${leaderList}">
                                            <option th:value="${leader.mid}" th:text="${leader.name}" ></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="col-sm-3 control-label" for="hierarchyList">體系</label>
                                <div class="col-sm-9">
                                    <select id="hierarchyList" class="selectpicker" th:field="*{hierarchyId}" name="hierarchyList" data-placeholder="請選擇體系" data-width="100%">
                                        <option th:value="''" th:text="'請選擇體系'" ></option>
                                        <th:block th:each="sysHierarchy : ${sysHierarchyList}">
                                            <option th:value="${sysHierarchy.hid}" th:text="${sysHierarchy.name}" ></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-4" >
                                <label class="col-sm-3 control-label" for="memberId">會員帳號</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="會員帳號" id="memberId" th:field="*{memberId}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2"></div>

                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="col-sm-2 control-label" for="datepicker">日期區間</label>
                                <div id="demo-dp-range" class="col-sm-10">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="form-control" name="startDate" th:field="*{startDate}" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="form-control" name="endDate" th:field="*{endDate}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  col-sm-4 pad-ver">
                                <div class="col-md-12">
                                    <label class="control-label">僅列出大於最小發幣數量的名單</label>
                                    <div class="checkbox">
                                        <input id="isPayout" th:name="isPayout" class="magic-checkbox" type="checkbox" value="true" th:checked="*{isPayout}">
                                        <label for="isPayout"></label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-success" type="submit">查詢</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="panel-body">
            <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>MemberId</th>
                    <th>中文姓名</th>
                    <th>英文姓名</th>
                    <th>總收益</th>
                    <th>已支付收益</th>
                    <th>尚未支付收益</th>
                    <th>最小發幣數量</th>
                    <th>錢包</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="report : ${reportList}">
                    <tr>
                        <td th:text="${report.memberId}" style="vertical-align: middle;"></td>
                        <td th:text="${report.memberChName}" style="vertical-align: middle;"></td>
                        <td th:text="${report.memberEnName}" style="vertical-align: middle;"></td>
                        <td th:text="${report.profit.toPlainString() eq '0.00000000'?'0':report.profit.toPlainString()}" style="vertical-align: middle;"></td>
                        <td th:text="${report.paidCoin.toPlainString() eq '0.00000000'?'0':report.paidCoin.toPlainString()}" style="vertical-align: middle;"></td>
                        <td th:text="${report.unpay.toPlainString() eq '0.00000000'?'0':report.unpay.toPlainString()}" style="vertical-align: middle;"></td>
                        <td th:text="${report.minimumPayout}" style="vertical-align: middle;"></td>
                        <td th:text="${report.walletCode}" style="vertical-align: middle;"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>


<!--DataTables [ OPTIONAL ]-->
<script th:src="@{static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
<script th:src="@{static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
<script th:src="@{static/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script th:src="@{static/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js}"></script>

<!--DataTables Sample [ SAMPLE ]-->
<script th:src="@{static/js/report/list.js}"></script>
</div>
</body>
</html>
