
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common_header(title,links)">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title th:replace="${title}?${title}:_">Initial Fintech</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ] -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link th:href="@{static/css/bootstrap.min.css}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link th:href="@{static/css/nifty.min.css}" rel="stylesheet">


    <!--Premium Icons [ OPTIONAL ]-->
    <link th:href="@{static/premium/icon-sets/icons/line-icons/premium-line-icons.min.css}" rel="stylesheet">
    <link th:href="@{static/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/themify-icons/themify-icons.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{static/css/themes/type-a/theme-mint.min.css}" rel="stylesheet">

    <!--=================================================-->


    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link th:href="@{static/css/pace.min.css}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{static/img/favicon.png}">

    <script th:src="@{static/js/pace.min.js}"></script>
    <th:block th:replace="${links}?${links}:_" />
    <style>
        .fa{
            width:27px;
            text-align:center;
        }
    </style>
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body th:fragment="layoutBody(pageTitle,profile,content,menu,scripts)">
<div id="container" class="effect aside-float aside-bright mainnav-lg mainnav-fixed navbar-fixed" >

    <!--NAVBAR-->
    <!--===================================================-->
    <header th:replace="~{components/common/header::header}"></header>
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <div id="page-head">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title" >
                    <h1 class="page-header text-overflow" th:text="${pageTitle}?${#strings.listSplit(pageTitle,';').get(#lists.size(#strings.listSplit(pageTitle,';'))-1)} :_">Expanded Navigation</h1>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    <li><a href="#"><i class="pli-home"></i></a></li>
                    <th:block th:each="title,iterStat : ${#strings.listSplit(pageTitle,';')}">
                        <li th:class="${iterStat.index == iterStat.size-1}? 'active'" th:text="${title}">Data</li>
                    </th:block>

                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->


            </div>


            <!--Page content-->
            <!--===================================================-->
            <div id="page-content" th:insert="${content}"></div>
            <!--===================================================-->
            <!--End page content-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->



        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container">
            <div id="mainnav">
                <!--Menu-->
                <!--================================-->
                <div id="mainnav-menu-wrap">
                    <div class="nano">
                        <div class="nano-content">

                            <!--Profile Widget-->
                            <!--================================-->
                            <div th:replace="${profile}"></div>

                            <ul th:replace="${menu}"></ul>
                        </div>

                        </div>
                    </div>
                </div>
                <!--================================-->
                <!--End menu-->

        </nav>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->

        


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->




<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->
<script th:src="@{static/js/jquery.min.js}"></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<script th:src="@{static/js/bootstrap.min.js}"></script>


<!--Nifty Admin [ RECOMMENDED ]-->
<script th:src="@{static/js/nifty.min.js}"></script>
<script>
    $(document).ready(function(){
        $( window ).resize(function() {
            var windowWidth = $( window ).width()*1;
            if( windowWidth >= 1010 && $(".tgl-menu-btn").is(':visible')){
                $(".tgl-menu-btn").hide();
            }
            if( windowWidth < 1010 && !$(".tgl-menu-btn").is(':visible')){
                $(".tgl-menu-btn").show();
            }

        });
    });
</script>
<th:block th:replace="${scripts}?${scripts}:_" />

</div>
</body>
</html>
