<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:fragment="menu(currentPage, isLeader)" id="mainnav-menu" class="list-group">

    <li th:class="${#strings.indexOf(currentPage,'adminMember') > -1 || #strings.indexOf(currentPage,'adminOrder') > -1 }?active-link:_">
        <a th:href="@{/adminMemberList}">
            <i class="fa fa-users"></i>
            <span class="menu-title">
                                                    <strong>會員管理</strong>
                                                </span>
        </a>
    </li>
    <!--Menu list item-->
    <li  th:class="${#strings.indexOf(currentPage,'adminNews') > -1 }?active-link:_">
        <a th:href="@{/adminNewsList}">
            <i class="fa fa-newspaper-o"></i>
            <span class="menu-title">
                                                    <strong>新聞管理</strong>
                                </span>
        </a>
    </li>
    <!--Menu list item-->

    <!--Menu list item-->
    <li th:class="${#strings.indexOf(currentPage,'adminHierarchy') > -1}?active-link:_">
        <a th:href="@{/adminHierarchyList}">
            <i class="fa fa-link"></i>
            <span class="menu-title">
                                                <strong>體系管理</strong>
                                            </span>
        </a>
    </li>

    <li th:class="${#strings.indexOf(currentPage,'adminReport') > -1}?active-link:_">
        <a th:href="@{/adminReportIncome}">
            <i class="fa fa-bar-chart"></i>
            <span class="menu-title">
                                                <strong>收益報表</strong>
                                            </span>
        </a>
    </li>
    <li th:class="${#strings.indexOf(currentPage,'adminSystemConfig') > -1}?active-link:_">
        <a th:href="@{/adminSystemConfig}">
            <i class="fa fa-cog"></i>
            <span class="menu-title">
                                                <strong>系統設定</strong>
                                            </span>
        </a>
    </li>
    <li th:class="${#strings.indexOf(currentPage,'adminBlackList') > -1}?active-link:_">
        <a th:href="@{/adminBlackList}">
            <i class="fa fa-user-times"></i>
            <span class="menu-title">
                                                <strong>黑名單</strong>
                                            </span>
        </a>
    </li>

</ul>
</body>
</html>