<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="mainnav-profile" class="mainnav-profile" th:fragment="profile(memberName,memberId)">
        <div class="profile-wrap text-center">
            <div class="pad-btm">
                <img class="img-circle img-md" src="static/img/profile-photos/1.png" alt="Profile Picture">
            </div>
            <a href="#profile-nav" class="box-block">

                <p class="mnp-name" th:text="${memberName}">Aaron Chavez</p>
                <span class="mnp-desc" th:text="${memberId}">aaron.cha@themeon.net</span>
            </a>
        </div>
       
    </div>
</body>
</html>