<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>管理員系統</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ] -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link th:href="@{static/css/bootstrap.min.css}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link th:href="@{static/css/nifty.min.css}" rel="stylesheet">


    <!--Premium Icons [ OPTIONAL ]-->
    <link th:href="@{static/premium/icon-sets/icons/line-icons/premium-line-icons.min.css}" rel="stylesheet">
    <link th:href="@{static/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css}" rel="stylesheet">


    <!--=================================================-->


    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link th:href="@{static/css/pace.min.css}" rel="stylesheet">
    <script th:src="@{static/js/pace.min.js}"></script>


    <!-- Create your own class to load custum image [ SAMPLE ]-->
    <style>
        .demo-my-bg{
            background-image : url("../../../static/img/bg-img-3.jpg");
        }
    </style>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{static/img/favicon.png}">


</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
<div id="container" class="cls-container">

    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <div id="bg-overlay" class="bg-img" style="background-image: url(../../../resources/static/img/bg-img-3.jpg)"></div>


    <!-- LOGIN FORM -->
    <!--===================================================-->
    <div class="cls-content">
        <div class="cls-content-sm panel">
            <div class="panel-body">
                <div class="mar-ver">
                    <img th:src="@{static/img/logo.png}" alt="Logo" style="width: 212px;">
                </div>
                <div class="mar-ver pad-btm">
                    <h1 class="h3">管理員系統</h1>
                    <p>請登入您的帳號</p>
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="帳號" id="username" name="username" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="密碼" id="password" name="password">
                    </div>

                    <div th:if="${loginError}">
                        <p th:text="${errorMsg}"> </p>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">登入</button>
                </form>
            </div>

            <div class="pad-all">
                <a th:href="@{/forgetPwd}" class="btn-link mar-rgt">忘記密碼?</a>
            </div>
        </div>
    </div>
    <!--===================================================-->



</div>
<!--===================================================-->
<!-- END OF CONTAINER -->


</body>
</html>
