
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>新增會員</title>
     <link th:href="@{/static/css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">

</head>


<body th:replace="~{components/common/layout::layoutBody('新增會員',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"    style="padding-top: 42px;">
                    <form class="form-horizontal" method="post" th:action="@{/memberAddSubmit}" th:object="${member}" id="addForm">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="memberId" th:text="#{manage.memberList.field1}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:placeholder="#{manage.memberList.field1}" id="memberId" name="mid" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="memberCategory" th:text="#{manage.memberList.field2}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:placeholder="#{manage.memberList.field2}" id="memberCategory" name="memberCategory" class="form-control" disabled>
                                    <input type="hidden" id="hierarchyId" name="hierarchies">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="referrerId" th:text="#{manage.memberList.field3}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:placeholder="#{manage.memberList.field3}" id="referrerId" name="referrerId" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="chName" th:text="#{manage.memberList.field4}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:placeholder="#{manage.memberList.field4}" id="chName" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="enName" th:text="#{manage.memberList.field5}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:placeholder="#{manage.memberList.field5}" id="enName" name="englishName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="email" th:text="#{manage.memberList.field6}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:placeholder="#{manage.memberList.field6}" id="email" name="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit">新增</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>

        <!--===================================================-->
        <!--End Horizontal Form-->

    </div>
    <script th:src="@{/static/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{/static/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>
    <script th:src="@{/static/plugins/masked-input/jquery.maskedinput.min.js}"></script>



    <script th:src="@{/static/js/memberAdd.js}" defer></script>
</div>
</body>
</html>
