
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>會員資料</title>
    <link th:href="@{/static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">

</head>


<body th:replace="~{components/common/layout::layoutBody('會員資料',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"    style="padding-top: 42px;">
                    <form class="form-horizontal " method="post" th:action="@{/memberEditSubmit}" th:object="${member}" id="editForm">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="memberId" th:text="#{manage.memberList.field1}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${member.mid}" th:placeholder="#{manage.memberList.field1}" id="memberId" name="memberId" class="form-control" disabled>
                                    <input type="hidden" th:value="${member.mid}" name="mid">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="memberCategory" th:text="#{manage.memberList.field2}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${hierarchy}" th:placeholder="#{manage.memberList.field2}" id="memberCategory" name="memberCategory" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="referrerId" th:text="#{manage.memberList.field3}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${member.referrerId}" th:placeholder="#{manage.memberList.field3}" id="referrerId" name="referrerId" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="chName" th:text="#{manage.memberList.field4}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${member.name}" th:placeholder="#{manage.memberList.field4}" id="chName" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="enName" th:text="#{manage.memberList.field5}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${member.englishName}" th:placeholder="#{manage.memberList.field5}" id="enName" name="englishName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="email" th:text="#{manage.memberList.field6}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${member.email}" th:placeholder="#{manage.memberList.field6}" id="email" name="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit">變更</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <table id="dt-basic" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>購買算力</th>
                                    <th>加贈算力</th>
                                    <th>合計算力</th>
                                    <th>備註</th>
                                    <th>建立時間</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="order : ${orderListForOwner}">
                                    <tr>
                                        <td th:text="${order.boughtBitcoin}">...</td>
                                        <td th:text="${order.freeBitcoin}">...</td>
                                        <td th:text="${order.totalBitcoin}">...</td>
                                        <td th:text="${order.remarks}">...</td>
                                        <td th:text="${order.createdDate}">...</td>
                                    </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--===================================================-->
        <!--End Horizontal Form-->

    </div>
    <script th:src="@{plugins/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>
    <script th:src="@{plugins/masked-input/jquery.maskedinput.min.js}"></script>

    <script th:src="@{plugins/datatables/media/js/jquery.dataTables.js}" ></script>
    <script th:src="@{plugins/datatables/media/js/dataTables.bootstrap.js}" ></script>
    <script th:src="@{plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}" ></script>
    <script>
        $(document).ready(function() {
            $.fn.DataTable.ext.pager.numbers_length = 5;


            $('#dt-basic').dataTable( {
                "responsive": true,
                "language": {
                    "paginate": {
                        "previous": '<i class="psi-arrow-left"></i>',
                        "next": '<i class="psi-arrow-right"></i>'
                    }
                },
                "dom": 'ftip'
            } );

            $('#demo-custom-toolbar2').appendTo($("div.newtoolbar"));
        });
    </script>


    <script th:src="@{/static/js/memberEdit.js}" defer></script>
</div>
</body>
</html>
