<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title th:text="#{manage.menu.memberList}"></title>
    <!--DataTables [ OPTIONAL ]-->
    <link th:href="@{/static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body th:replace="~{components/common/layout::layoutBody(#{manage.menu.memberList},
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">

        <div id="demo-custom-toolbar2" class="table-toolbar-left">
            <button id="demo-dt-addrow-btn" class="btn btn-primary" onclick="document.getElementById('memberAddForm').submit();">
                <i class="demo-pli-plus"></i>新增
            </button>
        </div>

        <div class="panel-body">
            <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th th:text="#{manage.memberList.column1}"></th>
                    <th th:text="#{manage.memberList.column2}"></th>
                    <th th:text="#{manage.memberList.column3}"></th>
                    <th th:text="#{manage.memberList.column4}"></th>
                    <th th:text="#{manage.memberList.column5}"></th>
                    <th th:text="#{manage.memberList.column6}"></th>
                    <th th:text="#{manage.memberList.column7}"></th>
                    <th class="min-tablet" th:text="#{manage.memberList.column8}"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="member : ${memberList}">
                    <tr>
                        <td th:text="${member.mid}" style="vertical-align: middle;"></td>
                        <td th:text="${member.name}" style="vertical-align: middle;"></td>
                        <td th:text="${member.englishName}" style="vertical-align: middle;"></td>
                        <td th:text="${member.referrerId}" style="vertical-align: middle;"></td>
                        <td th:text="${member.email}" style="vertical-align: middle;"></td>
                        <td th:text="${member.totalBitcoin}" style="vertical-align: middle;"></td>
                        <td th:text="${member.createdDate}" style="vertical-align: middle;"></td>
                        <td class="text-center">
                            <form th:action="@{/memberEdit}">
                                <input type="hidden" name="mid" th:value="${member.mid}">
                                <input type="submit" class="btn btn-success" value="編輯"></input>
                            </form>
                            <form th:action="@{/memberDel}" method="post">
                                <input type="hidden" name="mid" th:value="${member.mid}">
                                <input type="submit" class="btn btn-danger" value="刪除"></input>
                            </form>
                        </td>
                    </tr>
                </th:block>


                </tbody>
            </table>
        </div>
    </div>

    <form th:action="@{/memberAdd}" id="memberAddForm"></form>


<!--DataTables [ OPTIONAL ]-->
<script th:src="@{/static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
<script th:src="@{/static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
<script th:src="@{/static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>


<!--DataTables Sample [ SAMPLE ]-->
<script th:src="@{/static/js/memberList.js}"></script>
</div>
</body>
</html>
