<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{components/common/frontLayout::frontHead(~{::title},~{::link})}">
    <title>Initial Fintech</title>
</head>

<body th:replace="~{components/common/frontLayout::front(~{::content},
                                                         ~{::script})}">
<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper" th:fragment="content">
    <!--<div th:replace="~{components/common/frontBanner::frontBanner(#{home.menu.about})}"></div>-->
    <div class="banner-area banner-bg-3-2 ptb-120 bg-opacity-black-40 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <h2 th:text="#{home.menu.about}"></h2>
                        <ul class="page-title-link">
                            <li><a href="#" th:text="#{home.menu.index}"></a></li>
                            <li><a href="#" th:text="#{home.menu.about}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-area gray-bg ptb-120">
        <div class="container">
            <div class="row">
                <div class="service-wrapper">
                    <div class="col-md-6">
                        <div class="service-thumb">
                            <img th:src="@{/static/front/img/about_03.jpg}" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-text">
                            <h4><span>Initial Fintech公司簡介</span></h4>
                            <p>Initial
                                Fintech創立在2017年底，我們是一群在此領域有多年經驗的專業人士。我們的宗旨是為每個投資人提供能最簡單的投入方案。不管是多年經驗的大型投資者或者是加密貨幣市場的新人也一樣適用，提供會員終身挖礦服務。<br><br>同時，我們專注於挖掘我們精選的加密貨幣，同時也不斷尋找下一個可挖礦的創新、有發展性的加密貨幣。為所有客戶帶來更多的獲利。
                            </p>
                            <h4 class="mt-10"><span>客戶服務</span></h4>
                            <ul class="point-out">
                                <li><i class="fa fa-check"></i> 目前主力經營亞洲市場</li>
                                <li><i class="fa fa-check"></i> 提供挖礦運算力</li>
                                <li><i class="fa fa-check"></i> 合法登記註冊</li>
                                <li><i class="fa fa-check"></i> 擁有自己的挖礦硬體設備</li>
                            </ul>
                            <h4 class="mt-10"><span>聯絡我們</span></h4>
                            <ul class="point-out">
                                <li>公司地址：臺北市中正區仁愛路二段45號B1</li>
                                <li>E-mail：  <a href="mailto:info@initial-fintech.com">info@initial-fintech.com</a></li>
                                <li>連絡電話：  +(886) 2 2273 1234</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
            <div class="service-pic ptb-100">
                <div class="col-xs-6">
                    <img src="img/about_01.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-xs-6">
                    <img src="img/about_02.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div> -->
        </div>
    </div>
    <!-- end contact section -->
    <!-- Start Address section -->
    <div class="content-section-area gray-bg text-center">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <!-- End Address section -->
</div>
</body>

</html>
