<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{components/common/frontLayout::frontHead(~{::title},~{::link})}">
    <title>Initial Fintech</title>
</head>

<body th:replace="~{components/common/frontLayout::front(~{::content},
                                                         ~{::script})}">
<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper" th:fragment="content">
    <!--<div th:replace="~{components/common/frontBanner::frontBanner(#{home.menu.contact})}"></div>-->
    <div class="banner-area banner-bg-1 ptb-120 bg-opacity-black-40 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <h2 th:text="#{home.menu.contact}"></h2>
                        <ul class="page-title-link">
                            <li><a href="#" th:text="#{home.menu.index}"></a></li>
                            <li><a href="#" th:text="#{home.menu.contact}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- start contact section -->
    <div id="contact" class="content-section-area ptb-120 gray-bg">
        <div class="control-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.873220691137!2d121.5291572029148!3d25.03837617471946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9790d88a785%3A0x92ff15b4fc0d00d2!2zMTAw5Y-w5YyX5biC5Lit5q2j5Y2A5LuB5oSb6Lev5LqM5q61NDXomZ9CMQ!5e0!3m2!1szh-TW!2stw!4v1541172934065"
                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="content-section-area gray-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-sm-10 col-md-10 col-sm-offset-1">
                    <div class="address-item">
                        <div class="address-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <h3>Initial Fintexh</h3>
                        <p>臺北市中正區仁愛路二段45號B1</p>
                    </div>
                    <div class="address-item">
                        <div class="address-icon">
                            <i class="ti-email"></i>
                        </div>
                        <h3>Email Us</h3>
                        <p>info@initial-fintech.com</p>
                    </div>
                    <div class="address-item">
                        <div class="address-icon">
                            <i class="ti-headphone-alt"></i>
                        </div>
                        <h3>Call Us</h3>
                        <p>+(886) 2 2273 1234</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact section -->
    <!-- Start Address section -->
    <div class="content-section-area pb-80 gray-bg text-center">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <!-- End Address section -->
</div>

</body>

</html>
