<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{components/common/frontLayout::frontHead(~{::title},~{::link})}">
    <title>Initial Fintech</title>
</head>

<body th:replace="~{components/common/frontLayout::front(~{::content},
                                                         ~{::script})}">

    <div class="main-content-wrapper" th:fragment="content">
        
        <!-- Start Slider Area -->
        <div id="home" class="homepage-three-slider">
            <div class="main-wrapper-two">
                <div class="slider-wrapper owl-carousel">
                    <div class="slider-item home-three-slider-item slider-item-four slider-bg-four">
                        <div class="container">
                            <div class="row">
                                <div class="slider-content-area">
                                    <div class="slide-text">
                                        <h1 class="homepage-three-title"> <span>Invest in
                                            </span> <br>Cryptocurrency</h1>
                                        <h2 th:text="#{home.ad.text1}"></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item home-three-slider-item slider-item-four slider-bg-two">
                        <div class="container">
                            <div class="row">
                                <div class="slider-content-area">
                                    <div class="slide-text">
                                        <h1 class="homepage-three-title"><span>Easy Way to</span> <br>Get Bitcoin</h1>
                                        <h2>Join with the world’s best hashpower provider!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area -->


        <div id="about" class="content-section-area ptb-80 bg-service">
            <div class="sec-title">
                <h2 class="center">Cryptocurrency Prices</h2>
            </div>


            <div class="table-responsive">
                <div class="st-inner">
                    <table class="table table-striped table-hover text-left mceItemTable">
                        <thead>
                        <tr>
                            <th>Cryptocurrency</th>
                            <th> Price</th>
                            <th>24h % Change</th>
                            <th>24h Volume (coin)</th>
                            <th>Supply</th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="currency : ${currencyList}">
                                <tr>
                                    <td><img th:src="${currency.imgPath}" width="30px" alt="" class="currency-icon" data-mce-src="[[${currency.imgPath}]]" th:text="${currency.currencyName}"></td>
                                    <td th:text="'$'+${currency.price}"></td>
                                    <td class="up" th:text="${currency.percentChange24h}+'%'"></td>
                                    <td th:text="${currency.volume24h}+' '+${currency.symbol}"></td>
                                    <td th:text="${currency.totalSupply}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Start Feature Area -->
        <div id="feature" class="content-section-area ptb-80 gray-bg">
            <div class="container" style="display: none">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                        <div class="main-heading-content text-center">
                            <h2>Why Choose <span>Bit</span>coin</h2>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                    </div>
                </div>
                <!--End Feature Wrapper -->
                <div class="row text-center use-z-index">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img th:src="@{/static/front/img/icons/1.png}" alt="">
                            </div>
                            <div class="feature-text">
                                <h3>Safe and Secure</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem dicta libero veritatis reiciendis quis pariatur magni.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-item feature-p">
                            <div class="feature-icon">
                                <img th:src="@{/static/front/img/icons/2.png}" alt="">
                            </div>
                            <div class="feature-text">
                                <h3>Experts Support</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem dicta libero veritatis reiciendis quis pariatur magni.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <img th:src="@{/static/front/img/icons/3.png}" alt="">
                            </div>
                            <div class="feature-text">
                                <h3>Mobile Apps</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem dicta libero veritatis reiciendis quis pariatur magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Area -->
            <!-- Start Video area -->
            <div class="content-section-area bg-7 ptb-100 bg-opacity-black-60 text-center" data-stellar-background-ratio="0.3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                            <div class="video-wrapper">
                                <div class="play-button">
                                    <a href="https://www.youtube.com/watch?v=YfN2KD7bjzg" data-gall="gall-video" data-autoplay="true" data-vbtype="video" class="venobox play-button-link vbox-item"><i class="ti-control-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Video area -->
            <!-- Start Services Section -->
            <div id="service" class="content-section-area ptb-80 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="main-heading-content text-center">
                                <h2 th:utext="#{home.text1}"></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <div class="service-icon">
                                    <img th:src="@{/static/front/img/icons/6.png}" alt="">
                                </div>
                                <h3 th:text="#{home.text2.title}"></h3>
                                <br>
                                <p th:text="#{home.text2.content}"></p>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <div class="service-icon">
                                    <img th:src="@{/static/front/img/icons/8.png}" alt="">
                                </div>
                                <h3 th:text="#{home.text3.title}"></h3>
                                <br>
                                <p th:text="#{home.text3.content}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Services Section -->
            <!-- Start Team Area -->
            <div class="stats-area stats-style-three text-center bg-2 bg-opacity-black-40 clearfix" data-stellar-background-ratio="0.5"></div>
            <!--End Team Area -->
            <!-- Start Bitcoin Price statistic -->
            <div id="bitcoin-price" class="content-section-area ptb-80 wave-background-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="main-heading-content text-center">
                                <h2>BITCOIN LIVE <span>PRICE</span> TABLES</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 customChart">
                            <div class="bitcoin-price col-sm-8">
                                <div class="btcwdgt-chart"></div>
                            </div>
                            <div class="live-price-right col-sm-4">
                                <div class="price-item-live">
                                    <span class="btcwdgt-price"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bitcoin Price statistic -->
            <!-- Start Latest Blog Area -->
            <div id="blog" class="content-section-area ptb-80 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="main-heading-content text-center">
                                <h2 th:text="#{home.text4}"></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-wrapper-2">
                        <div class="col-md-4 col-sm-6" th:each="news : ${newsList}">
                            <article class="blog-post no-box-shadow">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img class="img-responsive" th:src="${news.imageName}" style="width: 4000px;height: 220px">
                                        <i class="ti-plus"></i>
                                    </a>
                                    <div class="meta-info-date">
                                        <a href="#" class="date-right" th:text="${#calendars.format(news.createDate,'yyyy/MM/dd')}"></a>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <div class="post-content-inner">
                                        <div class="meta-info">
                                            <ul class="meta-admin">
                                                <li>
                                                    <!--<a href="#" class="admin-name" th:text="${news.createId}"> <i class="fa fa-user"></i></a>-->
                                                </li>
                                            </ul>
                                            <ul class="meta-category">
                                                <li><i class="fa fa-folder"></i></li>
                                                <li>
                                                    <a href="#" class="category" th:text="${news.category.name}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h3>
                                            <a href="#" th:text="${news.subject}"></a>
                                        </h3>
                                        <div class="textoverflow" th:utext="${news.contentText}">
                                        </div>
                                        <a th:href="@{/newsView/}+${news.id}" class="readmore">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!--<div class="col-md-4 col-sm-6">-->
                            <!--<article class="blog-post no-box-shadow">-->
                                <!--<div class="post-thumbnail">-->
                                    <!--<a href="#">-->
                                        <!--<img class="img-responsive" th:src="@{/front/img/blog/2.jpg}" alt="">-->
                                        <!--<i class="ti-plus"></i>-->
                                    <!--</a>-->
                                    <!--<div class="meta-info-date">-->
                                        <!--<a href="#" class="date-right">28 Dec 2017</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="post-content">-->
                                    <!--<div class="post-content-inner">-->
                                        <!--<div class="meta-info">-->
                                            <!--<ul class="meta-admin">-->
                                                <!--<li>-->
                                                    <!--<a href="#" class="admin-name"> <i class="fa fa-user"></i> Admin</a>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                            <!--<ul class="meta-category">-->
                                                <!--<li><i class="fa fa-folder"></i></li>-->
                                                <!--<li><a href="#" class="category"> Bitcoin</a></li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                        <!--<h3><a href="#">Consectetur adipisicing elit.</a></h3>-->
                                        <!--<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less is a normal distribution of letters.</p>-->
                                        <!--<a href="#" class="readmore">Read More</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</article>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-sm-6">-->
                            <!--<article class="blog-post no-box-shadow">-->
                                <!--<div class="post-thumbnail">-->
                                    <!--<a href="#">-->
                                        <!--<img class="img-responsive" th:src="@{/front/img/blog/4.jpg}" alt="">-->
                                        <!--<i class="ti-plus"></i>-->
                                    <!--</a>-->
                                    <!--<div class="meta-info-date">-->
                                        <!--<a href="#" class="date-right">28 Dec 2017</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="post-content">-->
                                    <!--<div class="post-content-inner">-->
                                        <!--<div class="meta-info">-->
                                            <!--<ul class="meta-admin">-->
                                                <!--<li>-->
                                                    <!--<a href="#" class="admin-name"> <i class="fa fa-user"></i> Admin</a>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                            <!--<ul class="meta-category">-->
                                                <!--<li><i class="fa fa-folder"></i></li>-->
                                                <!--<li><a href="#" class="category"> Bitcoin</a></li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                        <!--<h3><a href="#">Consectetur adipisicing elit.</a></h3>-->
                                        <!--<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less is a normal distribution of letters.</p>-->
                                        <!--<a href="#" class="readmore">Read More</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</article>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-sm-6">-->
                            <!--<article class="blog-post no-box-shadow">-->
                                <!--<div class="post-thumbnail">-->
                                    <!--<a href="#">-->
                                        <!--<img class="img-responsive" th:src="@{/front/img/blog/1.jpg}" alt="">-->
                                        <!--<i class="ti-plus"></i>-->
                                    <!--</a>-->
                                    <!--<div class="meta-info-date">-->
                                        <!--<a href="#" class="date-right">28 Dec 2017</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="post-content">-->
                                    <!--<div class="post-content-inner">-->
                                        <!--<div class="meta-info">-->
                                            <!--<ul class="meta-admin">-->
                                                <!--<li>-->
                                                    <!--<a href="#" class="admin-name"> <i class="fa fa-user"></i> Admin</a>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                            <!--<ul class="meta-category">-->
                                                <!--<li><i class="fa fa-folder"></i></li>-->
                                                <!--<li><a href="#" class="category"> Bitcoin</a></li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                        <!--<h3><a href="#">Consectetur adipisicing elit.</a></h3>-->
                                        <!--<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less is a normal distribution of letters.</p>-->
                                        <!--<a href="#" class="readmore">Read More</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</article>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>

</body>

</html>