<!doctype html>
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{components/common/frontLayout::frontHead(~{::title},~{::link})}">
    <title>Initial Fintech - Login</title>
</head>

<body th:replace="~{components/common/frontLayout::front(~{::content},
                                                         ~{::script})}">

    <div class="main-content-wrapper" th:fragment="content">

        <style>
            /* already defined in bootstrap4 */
            .text-xs-center {
                text-align: center;
            }

            .g-recaptcha {
                display: inline-block;
            }
        </style>
        <form th:action="@{/login}" id="zpro-contact-form" method="POST" style="padding:0">
            <!-- Start Login Section -->
            <div class="content-section-area bg-6 ptb-150 bg-opacity-black-50">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="main-heading-content text-center">
                                <h2 th:text="#{login.text1}"></h2>
                                <div class="contact-form-wrapper">
                                    <div class="contact-form">
                                        <input class="form-control" name="username" type="text" placeholder="Your Name*" required>
                                        <input class="form-control" name="password" type="password" placeholder="Password*"
                                               required>
                                        <div class="text-center">
                                            <div class="l-captcha" data-width="100%" th:attr="data-site-key=${@captchaSettings.getSite()}"></div>
                                            <!--<div class="l-captcha" data-width="100%" data-site-key="57ae2e4c598671de97cb0584466dd577"></div>-->
                                        </div>
                                        <button type="submit" class=" btn btn-basic btn-block" th:text="#{login.button}"></button>
                                        <p class="zpro-send-message" th:if="${loginError}" th:text="${errorMsg}" style="color:red"></p>
                                        <div class="text-center" style="margin-top:15px">
                                            <a th:href="@{/forgetPwd}" style="color: blue;" th:text="#{login.forget}"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="clearfix"></div>
    </div>

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdRm-dm4ImhzWxMOy1_TyY6cQ3ZnVpw9E"></script>-->
<script th:src="@{/static/front/js/zpro-map.js}"></script>
<script th:src="@{/static/front/js/instafeed.js}"></script>
<!--<script th:src="@{https://www.google.com/recaptcha/api.js(hl=${#locale})}" async defer></script>-->
<script src="http://captcha.luosimao.com/static/js/api.js"></script>
</body>

</html>