<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{components/common/frontLayout::frontHead(~{::title},~{::link})}">
    <title>Initial Fintech</title>
</head>

<body th:replace="~{components/common/frontLayout::front(~{::content},
                                                         ~{::script})}">

    <!-- Start Main Content Wrapper -->
    <div class="main-content-wrapper" th:fragment="content">
        <!--<div th:replace="~{components/common/frontBanner::frontBanner(#{home.menu.news})}"></div>-->
        <div class="banner-area banner-bg-3-2 ptb-120 bg-opacity-black-40 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner">
                            <h2 th:text="#{home.menu.news}"></h2>
                            <ul class="page-title-link">
                                <li><a href="#" th:text="#{home.menu.index}"></a></li>
                                <li><a href="#" th:text="#{home.menu.news}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- start news section -->
        <div class="content-section-area ptb-120 blog-post-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-9" th:object="${news}">
                        <article class="blog-post single-blog-post">
                            <div class="post-thumbnail">
                                <a href="#"><img class="img-responsive" th:src="'/'+${news.imageName}"></a>
                            </div>
                            <div class="post-content">
                                <div class="post-content-inner">
                                    <div class="meta-info">
                                        <!--<a href="#" class="Author-left">By: John Doe</a>-->
                                        <!--<a href="#" class="date-right">December 28-2016</a>-->
                                        <a href="#" class="date-right" th:text="${#calendars.format(news.createDate,'yyyy/MM/dd')}"></a>
                                    </div>
                                    <h2 class="mb-20" th:text="${news.subject}">
                                        <!--全球股市動盪 加密貨幣相對平穩 比特幣價格僅小跌0.2%-->
                                    </h2>
                                    <p th:utext="${news.contentText}">
                                        <!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less is a normal distribution of letters.-->
                                    </p>

                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <aside class="single-widget">
                            <h4 class="widget-title">新聞分類</h4>
                            <div class="widget-content">
                                <ul class="post-cat-list">
                                    <li th:each="category : ${categoryList}">
                                        <a th:href="@{/newsListCategory/}+${category.id}" th:text="${category.name}"></a>
                                    </li>
                                    <!--<li>-->
                                        <!--<a href="#">市場相關</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">商業應用</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">技術</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">數據報告</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">政府法規</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">活動</a>-->
                                    <!--</li>-->
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- end news section -->
        <!-- Start Address section -->
        <div class="content-section-area pb-80 gray-bg text-center">
            <div class="container">
                <div class="row">
                   
                </div>
            </div>
        </div>
        <!-- End Address section -->
    </div>

</body>

</html>
