<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{components/common/frontLayout::frontHead(~{::title},~{::link})}">
    <title>Initial Fintech</title>
</head>

<body th:replace="~{components/common/frontLayout::front(~{::content},
                                                         ~{::script})}">
<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper" th:fragment="content">
    <!--<div th:replace="~{components/common/frontBanner::frontBanner(#{home.menu.news})}"></div>-->
    <div class="banner-area banner-bg-3-2 ptb-120 bg-opacity-black-40 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <h2 th:text="#{home.menu.news}"></h2>
                        <ul class="page-title-link">
                            <li><a href="#" th:text="#{home.menu.index}"></a></li>
                            <li><a href="#" th:text="#{home.menu.news}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- start news section -->
    <div class="content-section-area ptb-120 blog-post-page">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <div class="blog-wrapper">
                            <div class="col-md-6 col-sm-6" th:each="news : ${newsList}">
                                <article class="blog-post ">
                                    <div class="post-thumbnail">
                                        <a th:href="@{/newsView/}+${news.id}">
                                            <img class="img-responsive" th:src="'/'+${news.imageName}">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <div class="meta-info-date">
                                            <a href="#" class="date-right" th:text="${news.category.name}"</a>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <div class="post-content-inner">
                                            <h3>
                                                <a th:href="@{/newsView/}+${news.id}" th:text="${news.subject}"></a>
                                            </h3>
                                            <p class="date" th:text="${#calendars.format(news.createDate,'yyyy/MM/dd')}"></p>
                                            <div class="textoverflow" th:utext="${news.contentText}">
                                            </div>
                                            <a th:href="@{/newsView/}+${news.id}" class="readmore">Read More</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <aside class="single-widget">
                        <h4 class="widget-title">新聞分類</h4>
                        <div class="widget-content">
                            <ul class="post-cat-list">
                                <li th:each="category : ${categoryList}">
                                    <a th:href="@{/newsListCategory/}+${category.id}" th:text="${category.name}"></a>
                                </li>
                                <!--<li>-->
                                    <!--<a href="#">市場相關</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">商業應用</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">技術</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">數據報告</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">政府法規</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">活動</a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- end news section -->
</div>
</body>

</html>
