<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{components/common/frontLayout::frontHead(~{::title},~{::link})}">
    <title>Initial Fintech</title>
</head>

<body th:replace="~{components/common/frontLayout::front(~{::content},
                                                         ~{::script})}">
<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper" th:fragment="content">
    <!--<div th:replace="~{components/common/frontBanner::frontBanner(#{home.menu.service})}"></div>-->
    <div class="banner-area banner-bg-4 ptb-120 bg-opacity-black-40 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <h2 th:text="#{home.menu.service}"></h2>
                        <ul class="page-title-link">
                            <li><a href="#" th:text="#{home.menu.index}"></a></li>
                            <li><a href="#" th:text="#{home.menu.service}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- start news section -->
    <div class="content-section-area ptb-120 blog-post-page">
        <div class="container">
            <div class="row">
                <div class="customer-service">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#myaccount">我的帳戶</a></li>
                            <li><a data-toggle="tab" href="#myincome">挖礦產出</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="myaccount" class="tab-pane fade in active">
                                <div class="post-comment-section">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                <h5 class="c-title">如何创建一个新的账户?</h5>

                                                <p>新账户的创建非常简单. 点击注册, 输入邮箱地址和密码即可.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-body">
                                                <h5 class="c-title">如何解锁我的账户?</h5>

                                                <p>出于安全考虑, 我们只能通过人工验证进行账户解锁. 请联系我们的客服团队, 他们会帮助您解决此问题.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-body">
                                                <h5 class="c-title">如何创建我的新钱包?</h5>

                                                <p>我们目前还没有提供钱包服务, 但是您可以在网上找到各种钱包软件. 我们的系统均支持. 请到我的账户 / 设置 / 钱包中,
                                                    找到相关建议.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-body">
                                                <h5 class="c-title">如何更改我的邮箱地址?</h5>

                                                <p>出于安全考虑, 我们只有在您进行身份验证后帮助您修改邮箱. 请联系我们的客服团队, 他们会帮助您解决此问题.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-body">
                                                <h5 class="c-title">如何删除我的账户?</h5>

                                                <p>请直接联系我们的客服团队.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="myincome" class="tab-pane fade">
                                <div class="post-comment-section">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                <h5 class="c-title">为什么我的挖矿产出会下降？</h5>

                                                <p>我们无法控制市场革新，因此无法控制挖矿奖励。 根据您购买的产品，某些因素可能会影响您的产出。
                                                    您的挖矿产出大体如此变化：
                                                    1.可能会发生这样的情况：由于挖矿产出较低，全球市场没有太大兴趣挖取您合约中的原生货币。
                                                    这意味着挖矿难度降低，也会对挖矿产出的提高产生积极影响。 相反，如果难度上升，您的产出会减少。
                                                    2.如果您将分配更改为任何可用的AUTO货币（非原生挖取的货币），那么您的挖矿产出将从原生挖取的货币交易成所选的AUTO货币。
                                                    因此，汇率将影响您的挖矿产出。
                                                    另请注意，我们的部分产品附带维护费。
                                                    如有关于合约的任何其他问题，请随时通过 “<a href="contactUs.html">联系客服</a>”部分与我们联系。
                                                </p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-body">
                                                <h5 class="c-title">预期回报是多少？</h5>

                                                <p>
                                                    加密货币挖矿的结果在很大程度上取决于您挖取的给定加密货币的价格和网络困难。这些都不是可预测的，每个客户都必须就加密货币挖矿的收益做出独立决定，并应在选择是否挖矿时考虑风险和自身情况。
                                                    在评估收益时，您应注意我们某些合约的挖矿需要缴纳每日维护费，这些费用必须从您使用我们的托管服务在挖矿中获得的每日挖矿收益内扣除。
                                                    如有任何其他问题，请通过 “<a href="contactUs.html">联系客服</a>”与我们联系。
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end news section -->

</body>

</html>
