<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>黑名單</title>
    <!--DataTables [ OPTIONAL ]-->
    <link th:href="@{static/css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
</head>


<body th:replace="~{components/common/layout::layoutBody('黑名單',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">
        <!--<form th:actioin="@{/adminUnlock}" method="post">-->
        <form  th:action="@{/adminUnlock}" method="post">
            <div id="demo-custom-toolbar2" class="table-toolbar-left">
                <button class="btn btn-primary" type="submit">
                    <i class="demo-pli-plus"></i>解除鎖定
                </button>
            </div>

            <div class="panel-body">
                <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th> </th>
                        <th>ipAddress</th>
                        <th>鎖定日期</th>

                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="lock : ${blackList}">
                        <tr>
                            <td style="text-align: center">
                                <input th:id="'lock'+${lock.id}" name="unlock" class="magic-checkbox" type="checkbox" th:value="${lock.id}">
                                <label th:for="'lock'+${lock.id}"></label>
                            </td>
                            <td th:text="${lock.ipAddress}"></td>
                            <td th:text="${#calendars.format(lock.lockDate,'yyyy/MM/dd hh:mm:ss')}"></td>
                        </tr>
                    </th:block>

                    <!--<tr>-->
                        <!--<td style="text-align: center">-->
                            <!--<input id="lock1" name="lockList" class="magic-checkbox" type="checkbox" value="id">-->
                            <!--<label for="lock1"></label>-->
                        <!--</td>-->
                        <!--<td>124.12.35.14</td>-->
                        <!--<td>2018/10/1</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
        </form>
    </div>




    <script th:src="@{static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
    <script th:src="@{static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>


    <script th:src="@{static/js/blackList/list.js}"></script>
</div>
</body>
</html>
