
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>系統設定</title>
    <link th:href="@{static/css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">

</head>


<body th:replace="~{components/common/layout::layoutBody('系統設定',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">
        <div class="container">
            <div class="row">
                <div class="col-sm-10"    style="padding-top: 42px;">
                    <div class="panel-body">
                        <th:block th:each="systemConfig : ${systemConfigList}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" th:for="${'value'+systemConfig.paramId}" th:text="${systemConfig.paramName}"></label>
                                <div class="col-sm-7">
                                    <input type="text" th:placeholder="${systemConfig.paramName}" th:id="${'value'+systemConfig.paramId}" class="form-control" th:value="${systemConfig.paramValue}">
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-success" th:onclick="'modifySystemConfig(\''+${systemConfig.paramId}+'\')'">變更</button>
                                </div>
                            </div>
                        </th:block>

                        <div class="form-group" th:if="false">
                            <div class="col-sm-12">
                                計算公式:
                                <p> (coins_per_hour * 24 * ( 1- <b>基本成本</b> ) * 會員購買T數 ) - ((<b>購買管理成本</b>) / exchange_rate))</p>
                                <p> +</p>
                                <p> (coins_per_hour * 24 * ( 1- <b>基本成本</b> ) * 公司贈送T數 ) - ((<b>贈送管理成本</b>) / exchange_rate))</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <form class="form-horizontal " method="post" th:action="@{/adminSystemConfig/store}" id="editForm">
            <input type="hidden" id="configId" name="configId">
            <input type="hidden" id="configValue" name="configValue">
        </form>
        <!--===================================================-->
        <!--End Horizontal Form-->

    </div>
    <script th:src="@{static/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>
    <script th:src="@{static/plugins/masked-input/jquery.maskedinput.min.js}"></script>

    <script th:src="@{static/js/systemConfig/info.js}" defer></script>

</div>
</body>
</html>
