
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>新增會員</title>
    <link th:href="@{static/css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">

</head>


<body th:replace="~{components/common/layout::layoutBody('新增會員',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">
        <div class="container">
            <div class="row">
                <div class="col-sm-10"    style="padding-top: 42px;">
                    <form class="form-horizontal " method="post" th:action="@{/adminMemberCreate}" id="addForm">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="memberId">帳號</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="帳號" id="memberId" name="memberId" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="hierarchyList">體系</label>
                                <div class="col-sm-9">
                                    <select id="hierarchyList" class="selectpicker" name="hierarchyList" data-placeholder="請選擇體系" multiple data-width="100%">
                                        <th:block th:each="sysHierarchy : ${sysHierarchyList}">
                                            <option th:value="${sysHierarchy.hid}" th:text="${sysHierarchy.name}" ></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="referrerIdDiv" >
                                <label class="col-sm-3 control-label" for="referrerId">推薦人</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="推薦人" id="referrerId" name="referrerId" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="chName">中文姓名</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="中文姓名" id="chName" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="enName">英文姓名</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="英文姓名" id="enName" name="englishName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="email">電子郵件</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="電子郵件" id="email" name="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group pad-ver">
                                <label class="col-md-3 control-label">身分</label>
                                <div class="col-md-9">
                                    <div class="checkbox">
                                        <input id="general" th:name="roleList" class="magic-checkbox" type="checkbox" value="GENERAL" >
                                        <label for="general">一般會員</label>
                                    </div>

                                    <div class="checkbox">
                                        <input id="leader" th:name="roleList" class="magic-checkbox" type="checkbox" value="LEADER">
                                        <label for="leader">領導人</label>
                                    </div>

                                    <div class="checkbox">
                                        <input id="admin" th:name="roleList" class="magic-checkbox" type="checkbox" value="ADMIN">
                                        <label for="admin">管理員</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit">新增</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>

        <!--===================================================-->
        <!--End Horizontal Form-->

    </div>
    <script th:src="@{static/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>
    <script th:src="@{static/plugins/masked-input/jquery.maskedinput.min.js}"></script>

    <script th:src="@{static/js/member/add.js}" defer></script>

</div>
</body>
</html>
