<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>會員管理</title>
    <!--DataTables [ OPTIONAL ]-->
    <link th:href="@{static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
</head>

<body th:replace="~{components/common/layout::layoutBody('會員管理',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">

        <div id="demo-custom-toolbar2" class="table-toolbar-left">
            <button id="demo-dt-addrow-btn" class="btn btn-primary" onclick="document.getElementById('memberAddForm').submit();">
                <i class="demo-pli-plus"></i>新增
            </button>
        </div>

        <div class="panel-body">
            <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>帳號</th>
                    <th>中文姓名</th>
                    <th>英文姓名</th>
                    <th>推薦人</th>
                    <th>電子郵件</th>
                    <th>總和算力</th>
                    <th>建立時間</th>
                    <th class="min-tablet">操作</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="member : ${memberList}">
                    <tr>
                        <td th:text="${member.mid}" style="vertical-align: middle;"></td>
                        <td th:text="${member.name}" style="vertical-align: middle;"></td>
                        <td th:text="${member.englishName}" style="vertical-align: middle;"></td>
                        <td th:text="${member.referrerId}" style="vertical-align: middle;"></td>
                        <td th:text="${member.email}" style="vertical-align: middle;"></td>
                        <td th:text="${member.totalBitcoin}" style="vertical-align: middle;"></td>
                        <td th:text="${member.createdDate}" style="vertical-align: middle;"></td>
                        <td class="text-center">
                            <button class="btn btn-success" th:onclick="'editMember(\''+${member.mid}+'\')'">編輯</button>
                            <button class="btn btn-warning" th:onclick="'goToOrderPage(\''+${member.mid}+'\')'">訂單</button>
                            <button class="btn btn-danger"  th:onclick="'deleteMember(\''+${member.mid}+'\')'">刪除</button>

                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <form th:action="@{/adminMemberAdd}" id="memberAddForm"></form>
    <form th:action="@{/adminMemberDelete}" method="post" id="deleteForm">
        <input type="hidden" name="mid" id="deleteId">
    </form>
    <form th:action="@{/adminOrder}" method="GET" id="goToOrderForm">
        <input type="hidden" name="mid" id="wonerId">
    </form>
    <form th:action="@{/adminMemberEdit}" method="GET" id="memberEditForm">
        <input type="hidden" name="mid" id="editId">
    </form>


<!--DataTables [ OPTIONAL ]-->
<script th:src="@{static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
<script th:src="@{static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
<script th:src="@{static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>


<!--DataTables Sample [ SAMPLE ]-->
<script th:src="@{static/js/member/list.js}"></script>
</div>
</body>
</html>
