<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="frontHead(title,links)">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:replace="${title}?${title}:_">Initial Fintech</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/front/img/favicon.png}">
    <!-- All STYLESHEET CSS -->
    <link rel="stylesheet" th:href="@{/static/front/css/element.css}">
    <link rel="stylesheet" th:href="@{/static/front/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/front/css/responsive.css}">
    <!-- link modernizr js -->
    <script th:src="@{/static/front/js/vendor/modernizr-2.8.3.min.js}"></script>
    <th:block th:replace="${links}?${links}:_" />
</head>

<body th:fragment="front(content,scripts)">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Start Preloader -->
<div class="preloader">

    <div class="preloader-wrapper">
        <div class="preloader-img">
            <img th:src="@{/static/front/img/preloader.png}" alt="Preloader Image">
        </div>
    </div>
</div>

<div class="main-wrapper">
    <header th:replace="~{components/common/frontHeader::frontHeader}"></header>

    <div th:replace="${content}"></div>

    <footer th:replace="~{components/common/frontFooter::frontFooter}"></footer>

    <script th:src="@{/static/front/js/vendor/jquery-1.12.0.min.js}"></script>
    <script th:src="@{/static/front/js/plugins.js}"></script>
    <script th:src="@{/static/front/js/main.js}"></script>
    <th:block th:replace="${scripts}?${scripts}:_" />
</div>
</body>

</html>