<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="frontFooter">
    <div class="footer-widget-area ptb-100 footer-weve ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="footer-widget-item">
                        <div class="logo footer-logo">
                            <a href="#"><img th:src="@{/static/front/img/footer.png}" alt=""></a>
                        </div>
                        <p th:text="#{foot.text1}"></p>
                        <ul class="widget-address">
                            <li><a href="#"><i class="fa fa-map-marker m-5"></i>臺北市中正區仁愛路二段45號B1</a></li>
                            <li><a href="#"><i class="fa fa-phone m-5"></i> +(886) 2 2273 1234</a></li>
                            <li><a href="#"><i class="fa fa-envelope m-5"></i> info@initial-fintech.com</a></li>
                        </ul>
                    </div>
                    <br>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-widget-item">
                                <h5>OUR SERVICES</h5>
                                <ul class="widget-link">
                                    <li><a href="#"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>Bitcoin Mining Service</a></li>
                                </ul>
                            </div>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <div class="footer-widget-item">
                                <h5>Recent Post</h5>
                                <th:block th:each="news : ${session.newsOfFooter}">
                                    <div class="widget-post" style="height:54px;">
                                        <div class="widget-post-thumb">
                                            <img th:src="'/'+${news.imageName}" alt="thumb" style="width: 80px;height: 54px;">
                                        </div>
                                        <div class="widget-post-content">
                                            <div class="widget-date" th:text="${#calendars.format(news.createDate,'yyyy/MM/dd')}"></div>
                                            <a th:href="@{/newsView/}+${news.id}"><h4 th:text="${news.subject}"></h4></a>
                                        </div>
                                    </div>
                                </th:block>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="copyright">
                    <p>Copyright 2018 &copy; <a href="#">Initial Fintech</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>