<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="banner-area banner-bg-3-2 ptb-120 bg-opacity-black-40 " th:fragment="frontBanner(name)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2 th:text="${name}"></h2>
                    <ul class="page-title-link">
                        <li><a href="#" th:text="#{home.menu.index}"></a></li>
                        <li><a href="#" th:text="${name}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>