<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="frontHeader">
    <div class="header-top hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-7">
                    <div class="header-top-left">
                        <ul class="info">
                            <li><a href="mailto:info@initial-fintech.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>info@initial-fintech.com</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>+(886) 2 2273 1234</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5">
                    <div class="header-top-right">
                        <ul class="info-login">
                            <li><a th:href="@{/login}"><i class="fa fa-user" aria-hidden="true"></i> login</a></li>
                            <li><a th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign Up</a></li>
                        </ul>
                    </div>
                    <div class="dropdown language">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" th:text="#{currentLang}">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">English</a></li>
                            <li><a th:href="${#request.getRequestURI()}+'?lang=cn'">简中</a></li>
                            <li><a th:href="${#request.getRequestURI()}+'?lang=zh_tw'">繁中</a></li>
                            <li><a th:href="${#request.getRequestURI()}+'?lang=ja'">日本語</a></li>
                            <li><a href="#">한국어</a></li>
                        </ul>
                    </div>

                    <script>
                        function changeLang(lang){
                            windows.location= window.location.href+"?lang="+lang;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area header-style-multipage stricky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="logo">
                        <a th:href="@{/index}"> <img th:src="@{/static/front/img/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 main-menu-wrapper">
                    <div class="multipage-wrapper">
                        <ul class="main-menu">
                            <li><a th:href="@{/index}" th:text="#{home.menu.index}"></a></li>
                            <li><a th:href="@{/newsListCategory}" th:text="#{home.menu.news}"></a></li>
                            <li><a th:href="@{/aboutUs}" th:text="#{home.menu.about}"></a></li>
                            <li><a th:href="@{/service}" th:text="#{home.menu.service}"></a></li>
                            <li><a th:href="@{/contactUs}" th:text="#{home.menu.contact}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-menu-area">
                    <div class="mobile-menu">
                        <ul>
                            <li>
                                <div class="custom_flex">
                                    <div>
                                        <a href="mailto:info@initial-fintech.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                    </div>
                                    <div>
                                        <a href="tel:+886222731234"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </div>
                                    <div>
                                        <a th:href="@{/login}"><i class="fa fa-user" aria-hidden="true"></i> login</a>
                                    </div>
                                </div>
                            </li>
                            <li class="active"><a th:href="@{/index}" th:text="#{home.menu.index}"></a></li>
                            <li><a th:href="@{/newsListCategory}" th:text="#{home.menu.news}"></a></li>
                            <li><a th:href="@{/aboutUs}" th:text="#{home.menu.about}"></a></li>
                            <li><a th:href="@{/service}" th:text="#{home.menu.service}"></a></li>
                            <li><a th:href="@{/contactUs}" th:text="#{home.menu.contact}"></a></li>
                            <li>
                                <a href="#" th:text="#{currentLang}">Language <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a th:href="${#request.getRequestURI()}+'?lang=cn'">简中</a></li>
                                    <li><a th:href="${#request.getRequestURI()}+'?lang=zh_tw'">繁中</a></li>
                                    <li><a th:href="${#request.getRequestURI()}+'?lang=ja'">日本語</a></li>
                                    <li><a href="#">한국어</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>