<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:fragment="menu(currentPage, isLeader)" id="mainnav-menu" class="list-group">
    <!--Menu list item-->
    <li th:class="${#strings.indexOf(currentPage,'Dashboard') > -1}?active-link:_">
        <a th:href="@{memberDashboard}">
            <i class="ti-panel"></i>
            <span class="menu-title"><strong th:text="#{manage.menu.dashboard}"></strong></span>
        </a>
    </li>

    <!--Menu list item-->
    <li  th:class="${#strings.indexOf(currentPage,'Income') > -1}?active-link:_">
        <a th:href="@{memberIncomeInfo}">
            <i class="fa fa-bar-chart"></i>
            <span class="menu-title">
                                                    <strong th:text="#{manage.menu.income}"></strong>
                                </span>
        </a>
    </li>
    <!--Menu list item-->
    <li th:class="${#strings.indexOf(currentPage,'memberInfo') > -1}?active-link:_">
        <a th:href="@{memberInfo}">
            <i class="fa fa-cog"></i>
            <span class="menu-title">
                                                    <strong th:text="#{manage.menu.memberInfo}"></strong>
                                                </span>
        </a>
    </li>
    <!--Menu list item-->
    <li th:class="${#strings.indexOf(currentPage,'OrderList') > -1}?active-link:_">
        <a th:href="@{memberOrderList}">
            <i class="fa fa-object-group"></i>
            <span class="menu-title">
                                                    <strong th:text="#{manage.menu.order}"></strong>
                                                </span>
        </a>
    </li>
    <!--Menu list item-->
    <li th:if="${session.isLeader}" th:class="${#strings.indexOf(currentPage,'Management') > -1}?active-link:_">
        <a th:href="@{memberManagement}">
            <i class="fa fa-users"></i>
            <span class="menu-title">
                                                <strong th:text="#{manage.menu.memberList}"></strong>
                                            </span>
        </a>
    </li>

</ul>
</body>
</html>