<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Error 404</title>


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">


    <link th:href="@{/static/css/nifty.min.css}" rel="stylesheet">


    <link th:href="@{/static/css/demo/nifty-demo-icons.min.css}" rel="stylesheet">


    <!--=================================================-->



    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link th:href="@{/static/plugins/pace/pace.min.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/pace/pace.min.js}"></script>




</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
<div id="container" class="cls-container">

    <!-- CONTENT -->
    <!--===================================================-->
    <div class="cls-content">
        <h1 class="error-code text-info">404</h1>
        <p class="h4 text-uppercase text-bold">Page Not Found!</p>
        <div class="pad-btm">
            Sorry, but the page you are looking for has not been found on our server.
        </div>
        
        <hr class="new-section-sm bord-no">
        <div class="pad-top"><a class="btn btn-primary" th:href="@{/login}">Return Home</a></div>
    </div>


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->



<!--JAVASCRIPT-->
<!--=================================================-->

<script th:src="@{/static/js/jquery.min.js}"></script>

<script th:src="@{/static/js/bootstrap.min.js}"></script>

<script th:src="@{/static/js/nifty.min.js}"></script>




<!--=================================================-->
</body>
</html>

