<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>體系管理</title>
     <link th:href="@{/css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">
</head>


<body th:replace="~{components/common/layout::layoutBody('新增體系',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">
        <div class="container">
            <div class="row">
                <div class="col-sm-10"    style="padding-top: 42px;">
                    <form class="form-horizontal " method="post" th:action="@{/adminHierarchyCreate}" id="addForm">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="name">體系名稱</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="體系名稱" id="name" name="name" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit">新增</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>

        <!--===================================================-->
        <!--End Horizontal Form-->

    </div>
    <script th:src="@{static/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>
    <script th:src="@{static/plugins/masked-input/jquery.maskedinput.min.js}"></script>

    <script th:src="@{static/js/hierarchy/add.js}"></script>

</div>
</body>
</html>
