<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>體系管理</title>
    <!--DataTables [ OPTIONAL ]-->
    <link th:href="@{static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
</head>

<body th:replace="~{components/common/layout::layoutBody('體系管理',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">

        <div id="demo-custom-toolbar2" class="table-toolbar-left">
            <button id="demo-dt-addrow-btn" class="btn btn-primary" onclick="document.getElementById('addForm').submit();">
                <i class="demo-pli-plus"></i>新增
            </button>
        </div>

        <div class="panel-body">
            <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>編號</th>
                    <th>體系名稱</th>
                    <th>建立時間</th>
                    <th class="min-tablet">操作</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="hierarchy : ${hierarchyList}">
                    <tr>
                        <td th:text="${hierarchy.hid}" style="vertical-align: middle;"></td>
                        <td th:text="${hierarchy.name}" style="vertical-align: middle;"></td>
                        <td th:text="${#calendars.format(hierarchy.createdDate,'yyyy/MM/dd hh:mm:ss')}" style="vertical-align: middle;"></td>
                        <td class="text-center">
                            <button class="btn btn-success" th:onclick="'editData(\''+${hierarchy.hid}+'\')'">編輯</button>
                            <button class="btn btn-danger"  th:onclick="'deleteData(\''+${hierarchy.hid}+'\',\''+${hierarchy.name}+'\')'">刪除</button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <form th:action="@{/adminHierarchyAdd}" id="addForm"></form>
    <form th:action="@{/adminHierarchyDelete}" method="post" id="deleteForm">
        <input type="hidden" name="hid" id="deleteId">
    </form>
    <form th:action="@{/adminHierarchyEdit}" method="GET" id="editForm">
        <input type="hidden" name="hid" id="editId">
    </form>


<!--DataTables [ OPTIONAL ]-->
<script th:src="@{static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
<script th:src="@{static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
<script th:src="@{static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>


<!--DataTables Sample [ SAMPLE ]-->
<script th:src="@{static/js/hierarchy/list.js}"></script>
</div>
</body>
</html>
