
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>編輯訂單</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{static/css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">

</head>


<body th:replace="~{components/common/layout::layoutBody('會員管理;編輯訂單',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">
        <div class="container">
            <div class="row">
                <div class="col-sm-10"    style="padding-top: 42px;">
                    <form class="form-horizontal" method="post" th:action="@{/adminOrder/store}" th:object="${order}" id="editForm">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="memberId">訂單持有人</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="帳號" id="memberId" class="form-control" th:value="${order.owner.mid}" disabled>
                                    <input type="hidden" name="mid" class="form-control" th:value="${order.owner.mid}">
                                    <input type="hidden" name="id" class="form-control" th:value="${order.id}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="boughtBitcoin">購買算力</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="購買算力" id="boughtBitcoin" name="boughtBitcoin" class="form-control" th:value="${order.boughtBitcoin}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="freeBitcoin">贈送算力</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="贈送算力" id="freeBitcoin" name="freeBitcoin" class="form-control" th:value="${order.freeBitcoin}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="totalBitcoin">總算力</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="總算力" id="totalBitcoin" class="form-control" th:value="${order.totalBitcoin}" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="datepicker">生效起始日</label>
                                <div id="demo-dp-range" class="col-sm-9">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="form-control" name="startDate" th:value="${#calendars.format(order.startDate,'yyyy/MM/dd')}" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="form-control" name="endDate" th:value="${#calendars.format(order.endDate,'yyyy/MM/dd')}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="remarks">備註</label>
                                <div class="col-sm-9">
                                    <textarea id="remarks" name="remarks" placeholder="備註" rows="3" class="form-control" th:text="${order.remarks}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit">變更</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>

        <!--===================================================-->
        <!--End Horizontal Form-->

    </div>
    <script th:src="@{static/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>
    <script th:src="@{static/plugins/masked-input/jquery.maskedinput.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js}"></script>

    <script th:src="@{static/js/order/edit.js}" defer></script>
</div>
</body>
</html>
