<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>會員管理 - 訂單列表</title>
    <!--DataTables [ OPTIONAL ]-->
    <link th:href="@{static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body th:replace="~{components/common/layout::layoutBody('會員管理;訂單列表',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <style>
        td{
            text-align: center;
        }
    </style>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">[[${#request.getParameter('mid')}]] 的訂單列表</h3>
        </div>
        <div id="demo-custom-toolbar2" class="table-toolbar-left">
            <button id="demo-dt-addrow-btn" class="btn btn-primary" onclick="document.getElementById('addForm').submit();">
                <i class="demo-pli-plus"></i>新增
            </button>
        </div>

        <div class="panel-body">
            <div class="panel">
                <div class="panel-body">
                    <table id="dt-basic" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>建立時間</th>
                            <th>購買算力</th>
                            <th>加贈算力</th>
                            <th>合計算力</th>
                            <th>備註</th>
                            <th>生效日</th>
                            <th>失效日</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="order : ${orderListForOwner}">
                            <tr>
                                <td th:text="${#calendars.format(order.createdDate,'yyyy/MM/dd hh:mm:ss')}" style="vertical-align: middle;">...</td>
                                <td th:text="${order.boughtBitcoin}" style="vertical-align: middle;">...</td>
                                <td th:text="${order.freeBitcoin}" style="vertical-align: middle;">...</td>
                                <td th:text="${order.totalBitcoin}" style="vertical-align: middle;">...</td>
                                <td th:text="${order.remarks}" style="vertical-align: middle;">...</td>
                                <td th:text="${#calendars.format(order.startDate,'yyyy/MM/dd hh:mm:ss')}" style="vertical-align: middle;">...</td>
                                <td th:text="${#calendars.format(order.endDate,'yyyy/MM/dd hh:mm:ss')}" style="vertical-align: middle;">...</td>
                                <td style="vertical-align: middle;">
                                    <form th:action="@{/adminOrder/edit}" method="get">
                                        <input type="hidden" name="orderId" th:value="${order.id}">
                                        <input type="submit" class="btn btn-success" value="編輯"></input>
                                    </form>
                                    <button class="btn btn-danger" th:onclick="'deleteOrder(\''+${order.id}+'\')'">刪除</button>
                                </td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form th:action="@{/adminOrder/add}" id="addForm">
        <input type="hidden" name="mid" th:value="${#request.getParameter('mid')}">
    </form>
    <form th:action="@{/adminOrder/delete}" method="post" id="deleteForm">
        <input type="hidden" name="orderId" id="deleteId">
        <input type="hidden" name="mid" th:value="${#request.getParameter('mid')}">
    </form>


    <!--DataTables [ OPTIONAL ]-->
    <script th:src="@{static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
    <script th:src="@{static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>


    <!--DataTables Sample [ SAMPLE ]-->
    <script th:src="@{static/js/order/list.js}"></script>
</div>
</body>
</html>
