<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <title>新聞管理</title>
    <link th:href="@{static/css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">
    <!--Dropzone [ OPTIONAL ]-->
    <link th:href="@{static/css/demo/nifty-demo-icons.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/dropzone/dropzone.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/summernote/summernote.min.css}" rel="stylesheet">
</head>

<body th:replace="~{components/common/layout::layoutBody('新增新聞',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel" style="padding:10px">
        <div class="container">
            <div class="row">
                <div class="col-sm-10"    style="padding-top: 42px;">
                    <form class="form-horizontal" method="post" th:action="@{adminNewsAddSubmit}" th:object="${news}" enctype="multipart/form-data" id="add-form">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="subject">新聞標題</label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${news.subject}" placeholder="新聞標題" id="subject" name="subject" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="secSubject">副標題</label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${news.secSubject}" placeholder="副標題" id="secSubject" name="secSubject" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label class="col-sm-3 control-label" for="category">分類</label>-->
                                <label class="col-sm-3 control-label">分類</label>
                                <div class="col-sm-9">
                                    <select class="selectpicker" th:field="*{categoryId}">
                                        <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="datepicker">上下架時間</label>
                                <div id="demo-dp-range" class="col-sm-9">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" id="startDate" th:value="${#calendars.format(news.startDate,'yyyy/MM/dd')}" class="form-control" name="startDate" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" id="endDate" th:value="${#calendars.format(news.endDate,'yyyy/MM/dd')}" class="form-control" name="endDate" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="adImg">新聞圖片</label>
                                <div class="col-sm-9" >
                                    <input name="file" type="file" id="adImg" class="col-sm-2">
                                    <div id="imgDiv" class="col-sm-10" ><label style="color: red" th:text="${errorMsg}"> </label></div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="content">新聞內容</label>
                                <div class="col-sm-9">

                                    <textarea th:utext="${news.contentText}" id="content" name="contentText"></textarea>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="tag">TAG</label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${news.tag}" placeholder="請以;區隔" id="tag" name="tag" class="form-control">
                                </div>
                            </div>


                        </div>
                        <div class="panel-footer text-right">
                            <button type="submit" class="btn btn-success" id="submitBtn">新增</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>

        <!--===================================================-->
        <!--End Horizontal Form-->

    </div>
    <script th:src="@{static/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>
    <script th:src="@{static/plugins/masked-input/jquery.maskedinput.min.js}"></script>

    <script th:src="@{static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js}"></script>
    <script th:src="@{static/plugins/dropzone/dropzone.min.js}"></script>
    <script th:src="@{static/plugins/summernote/summernote.min.js}"></script>
    <script th:src="@{static/js/news/add.js}" ></script>

</div>
</body>
</html>
