
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>新聞管理</title>
    <link th:href="@{static/css/demo/nifty-demo.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">
    <!--Dropzone [ OPTIONAL ]-->
    <link th:href="@{static/css/demo/nifty-demo-icons.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/dropzone/dropzone.min.css}" rel="stylesheet">
    <link th:href="@{static/plugins/summernote/summernote.min.css}" rel="stylesheet">
</head>


<body th:replace="~{components/common/layout::layoutBody('編輯新聞',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">
        <div class="container">
            <div class="row">
                <div class="col-sm-10"    style="padding-top: 42px;">
                    <form class="form-horizontal" method="post" th:action="@{adminNewsEditSubmit}" th:object="${news}" id="editform" enctype="multipart/form-data">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="subject">新聞標題</label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${news.subject}" placeholder="新聞標題" id="subject" name="subject" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="secSubject">副標題</label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${news.secSubject}" placeholder="副標題" id="secSubject"
                                           name="secSubject" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label class="col-sm-3 control-label" for="category">分類</label>-->
                                <label class="col-sm-3 control-label">分類</label>
                                <div class="col-sm-9">
                                    <select class="selectpicker" th:field="*{categoryId}">
                                        <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"
                                                th:selected="${category.id}==${news.category.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="datepicker">上下架時間</label>
                                <div id="demo-dp-range" class="col-sm-9">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input th:value="${#calendars.format(news.startDate,'yyyy/MM/dd')}" type="text" class="form-control" id="startDate" name="startDate" />
                                        <span class="input-group-addon">to</span>
                                        <input th:value="${#calendars.format(news.endDate,'yyyy/MM/dd')}" type="text" class="form-control" id="endDate" name="endDate" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="adImg">新聞圖片</label>
                                <div class="col-sm-9" >
                                    <input name="file" type="file" id="adImg" class="col-sm-2">
                                    <div id="imgDiv" class="col-sm-10" ><img th:src="${news.imageName}"  style="width:100%" id="dynamic"></div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="content">新聞內容</label>
                                <div class="col-sm-9">
                                    <textarea th:utext="${news.contentText}" id="content" name="contentText"></textarea>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="tag">TAG</label>
                                <div class="col-sm-9">
                                    <input type="text" th:value="${news.tag}" placeholder="請以;區隔" id="tag" name="tag" class="form-control">
                                </div>
                            </div>
                            <input type="hidden" name="id" th:value="${news.id}">
                            <input type="hidden" name="createId" th:value="${news.createId}">
                            <input type="hidden" id="createDate" name="createDate" th:value="${#calendars.format(news.createDate,'yyyy/MM/dd HH:mm:ss')}">
                            <input type="hidden" name="imageName" th:value="${news.imageName}">
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-success" type="submit" id="submitBtn">變更</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>

        <!--===================================================-->
        <!--End Horizontal Form-->

    </div>
    <script th:src="@{static/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>
    <script th:src="@{static/plugins/masked-input/jquery.maskedinput.min.js}"></script>

    <script th:src="@{static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{static/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js}"></script>
    <script th:src="@{static/plugins/dropzone/dropzone.min.js}"></script>
    <script th:src="@{static/plugins/summernote/summernote.min.js}"></script>
    <script th:src="@{static/js/news/edit.js}" ></script>
</div>
</body>
</html>
