<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{components/common/layout::common_header(~{::title},~{::link})}">
    <title>新聞管理</title>
    <!--DataTables [ OPTIONAL ]-->
    <link th:href="@{static/plugins/datatables/media/css/dataTables.bootstrap.css}" rel="stylesheet">
    <link th:href="@{static/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css}" rel="stylesheet">
</head>


<body th:replace="~{components/common/layout::layoutBody('新聞管理',
                                                        ~{components/common/profileWidget::profile(${session.memberName},${session.memberId})},
                                                        ~{::content},
                                                        ~{components/common/menu::menu(${#request.getRequestURI()},${session.isLeader})},
                                                        ~{::script})}">
<div th:fragment="content">
    <div class="panel">

        <div id="demo-custom-toolbar2" class="table-toolbar-left">
            <button id="demo-dt-addrow-btn" class="btn btn-primary" onclick="document.getElementById('adminNewsAddForm').submit();">
                <i class="demo-pli-plus"></i>新增
            </button>
        </div>

        <div class="panel-body">
            <table id="news-list-dt" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>圖片</th>
                    <th>主標題</th>
                    <th>副標題</th>
                    <th>分類</th>
                    <th>tag</th>
                    <th>上架時間</th>
                    <th>下架時間</th>
                    <th>建立時間</th>
                    <th class="min-tablet">操作</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="news : ${newsList}">
                    <tr>
                        <td style="vertical-align: middle;text-align:center"><img th:src="${news.imageName}" style="width:200px"></td>
                        <td style="vertical-align: middle;" th:text="${news.subject}"></td>
                        <td style="vertical-align: middle;" th:text="${news.secSubject}"></td>
                        <td style="vertical-align: middle;" th:text="${news.category.name}"></td>
                        <td style="vertical-align: middle;" th:text="${news.tag}"></td>
                        <td style="vertical-align: middle;" th:text="${#calendars.format(news.startDate,'yyyy/MM/dd HH:mm:ss')}"></td>
                        <td style="vertical-align: middle;" th:text="${#calendars.format(news.endDate,'yyyy/MM/dd HH:mm:ss')}"></td>
                        <td style="vertical-align: middle;" th:text="${#calendars.format(news.createDate,'yyyy/MM/dd HH:mm:ss')}"></td>
                        <td style="vertical-align: middle;text-align:center">
                            <form th:action="@{adminNewsEdit}">
                                <input type="hidden" name="id" th:value="${news.id}">
                                <input type="submit" class="btn btn-success" value="編輯"></input>
                            </form>
                            <form th:action="@{adminNewsDelSubmit}" method="post">
                                <input type="hidden" name="id" th:value="${news.id}">
                                <input type="submit" class="btn btn-danger" value="刪除"></input>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <form th:action="@{adminNewsAdd}" id="adminNewsAddForm"></form>


    <script th:src="@{static/plugins/datatables/media/js/jquery.dataTables.js}"></script>
    <script th:src="@{static/plugins/datatables/media/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{static/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>


    <script th:src="@{static/js/news/list.js}"></script>
</div>
</body>
</html>
