/******* TABLE OF CONTENT *******/
/********
 Imported styles
 Global styles
 Button style
 Sec title style
 Header-style
 Rev Slider style
 page title style
 latest-news style
 feature style
 google map Section style
 contact Section style
 Team Member styles
 latest-gallery styles 
 Checkout Area style
 page_pagination style
 footer style
 about style
 our-services style
 recent-project style
 call-to-action styles 
 Parallax Style One
 team Section style
 two-column style
 service-single Section style
 gallery Section
 Side Bar Style
 Blog Page Style
 blog grid page style
 feature-style-three
 contact_us style
 error page style

********/

/* 
==========================================
   Imported styles
==========================================
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/*** 
=============================================
    Rev Slider style
=============================================
***/



.rev_slider_wrapper .slide-content-box h1 {
  color: #fff;
  font-size: 45px;
  line-height: 62px;
  margin: 14px 0 9px;
  font-weight: 500;
  padding:0px 25px;
  border-left: 7px solid #ffb426; 
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
}
.rev_slider_wrapper .slide-content-box h2{
  font-size: 45px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:700;
}
.rev_slider_wrapper .slide-content-box p{
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 0 30px;
}
@media (max-width: 992px){
  
  .rev_slider_wrapper .slide-content-box p{
    font-size: 14px !important;
  }
}
@media (max-width: 767px){
  
  .rev_slider_wrapper .slide-content-box p{
    font-size: 12px !important;
    width: 60% !important;
    display: none;
  }
}
.rev_slider_wrapper .button .thm-btn:hover{
    background: #fff;
    color: #ffb426;
  border:2px solid #ffb426;
  transition:.5s;
}
.rev_slider_wrapper .slide-content-box .button a{
  padding: 0px 22px;
  margin-right: 15px;
  transition: all 500ms ease !important;
  -moz-transition: all 500ms ease !important;
  -webkit-transition: all 500ms ease !important;
  -ms-transition: all 500ms ease !important;
  -o-transition: all 500ms ease !important;
}
.rev_slider_wrapper .slide-content-box .button a.thm-btn.our-solution{
  background: #fff;
  padding: 0px 35px;
  color: #222;
  border-color: #fff;
}
.rev_slider_wrapper .slide-content-box .button a.thm-btn.our-solution:hover{
  background: #ffb426;
  color: #fff;
  border-color: #ffb426;
}

.rev_slider_wrapper .slide-content-box.last-slide p{
  margin: 0;    
}
.rev_slider_wrapper .slide-content-box.last-slide a{
  margin: 0 8px;    
}

.rev_slider_wrapper .slotholder {
  position: relative;
}

.slotholder:after {
    background: rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.tp-bannertimer {
  display: none;
  
}

.rev_slider_wrapper .tparrows {
  background: transparent;
  border: 2px solid #fff;

}

.tp-revslider-mainul{
  width:100% !important;
}


/*
===============================================
  button style
===============================================
*/
.thm-btn {
  position: relative;
  background: #ffb426;
  font-size: 14px;
  line-height: 42px;
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #ffb426;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 26px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition:all .5s cubic-bezier(0.4, 0, 1, 1);
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}
.thm-btn:hover {
  background: transparent;
  color: #ffb426;
  -webkit-transition:all .5s cubic-bezier(0.4, 0, 1, 1);
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}
.theme_menu .link_btn {
  margin-top: 24px;
  color:#222222;
}

.button-style-one{
  margin-top: 20px;
  color:#ffb426;
  position:relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 12px;
}
.button-style-one:before{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 94px;
  height: 1px;
  background: #ffb426;
}
.button-style-one:hover{
  color:#ffb426;
}

.button-style-two{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform:uppercase;
  color:#222222;
  padding: 11px 26px;
  border:1px solid #ffb426;
  letter-spacing: 1px;
}
.button-style-two:hover{
  color:#222222;
}

.anim-3 {
  -webkit-transition:all 0.3s ease;
  transition: all 0.3s ease;
}
.anim-5 {
  -webkit-transition:all 0.5s ease;
  transition: all 0.5s ease;
}
a{text-decoration: none;}